################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/tiff-4.0.1.tar.gz

md5sum = fae149cc9da35c598d8be897826dfc63



    


[mirrors]
gentoo = mirror.mcs.anl.gov/pub


