################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url =http://${mirrors:gentoo}/distfiles/otp_src_R15B03-1.tar.gz
md5sum = eccd1e6dda6132993555e088005019f2
#patches=${buildout:directory}/autotoolsgen.patch
#patch-options=-Np1
#pre-configure-hook=h.py:p

configure-options=
    --enable-sctp
    --with-ssl=${buildout:directory}/../openssl-1/parts/part
    --enable-dynamic-ssl-lib
    --enable-threads
    --enable-smp-support
    --enable-kernel-poll
    --enable-shared-zlib
    --enable-hipe
#    --enable-halfword-emulator


[mirrors]
gentoo = gentoo.tiscali.nl
